<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Name">Name</label>
    <div class="col-sm-8">
      <input readonly class="form-control" id="Name" value="<%= model.Name %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Region">Region</label>
    <div class="col-sm-7">
      <input readonly class="form-control" id="Region" value="<%= model.Region %>" />
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-form-label col-sm-2" for="Feedback">Feedback</label>
    <div class="col-sm-10">
      <textarea readonly class="form-control" cols="20" id="Feedback" maxlength="32000" rows="7"><%= model.Feedback %></textarea>
    </div>
  </div>