<footer>
    <p>&copy; This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service</p>
  </footer>

</div>

</body>

</html>